*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #5d3bee;

  --text-primary-color: #080415;
  --text-second-color: #51586a;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.btn {
  min-width: 118px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fdfdfd;
  background-color: #5d3bee;
}

section + section {
  margin-top: 120px;
}

.section-desc {
  color: var(--text-second-color);

  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
}

.section-heading {
  color: var(--text-primary-color);

  margin-left: auto;
  margin-right: auto;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -1.44px;
}

/* Header */
.header {
  background-color: #fbfaff;
}

.header__body {
  margin: 0 6px;
  padding: 20px 14px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d6d3e2;
}

.header__icon--desktop,
.navbar,
.header__email-address {
  display: none;
}

.header__logo,
.mobile__logo {
  display: inline-block;
  width: 37px;
  height: 44px;
}

.header__icon--mobile,
.mobile__icon {
  width: 100%;
}

.header__email {
  margin-left: auto;
}

.header__email-img,
.header__menu-toggle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(93, 59, 238, 0.2);
}

.header__menu-toggle {
  margin-left: 10px;
  flex-direction: column;
  gap: 3px;
}

.header__menu-line {
  width: 15px;
  height: 2px;
  border-radius: 1px;
  background-color: #5d3bee;
}

.mobile-menu__overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.mobile-navbar {
  position: fixed;
  inset: 0 30% 0 0;
  z-index: 999;
  padding: 30px;
  display: block;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.5s ease;
}

.navbar__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.navbar__link {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  color: var(--text-second-color);
  font-weight: 400;
  font-size: 1.8rem;
}

.header__menu-checkbox:checked ~ .mobile-menu__overlay {
  opacity: 1;
  visibility: visible;
}

.header__menu-checkbox:checked ~ .mobile-navbar {
  transform: translateX(0);
}

/* Hero */
.hero {
  padding-top: 50px;
  background-color: #fbfaff;
}

.hero__title {
  color: var(--text-primary-color);

  width: 260px;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.68px;
}

.hero__desc {
  width: 318px;
}

.hero__cta {
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.hero__book {
  width: 147px;
}

.hero__my-work {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875;
  text-decoration: underline;
}

.hero__my-work:hover {
  text-decoration: underline;
}

.hero__socials {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.hero__socials-text {
  color: var(--text-second-color);

  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43;
}

.hero__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__social + .hero__social {
  margin-left: 16px;
}

.hero__thumb {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__decor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__decor-desktop,
.hero__decor-right {
  display: none;
}

.hero__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 259px;
}

/* Clients */
.clients__heading {
  position: relative;
  width: 170px;
  padding-top: 5px;
  font-size: 2.8rem;
  line-height: 1.21;
  letter-spacing: -1.12px;
}

.clients__heading::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 48px;
  height: 2px;
  background-color: #5d3bee;
}

.clients__grid {
  margin-top: 40px;
}

.clients__group {
  margin-top: 34px;
  display: flex;
}

.clients__icon--warner-bros {
  margin-left: 70px;
}

.clients__icon--creative-cloud {
  margin-left: 61px;
}

.clients__icon--adobe {
  margin-left: 78px;
}
.clients__icon--canva {
  margin-left: 36px;
}

/* Services */
.services__body {
  overflow: hidden;
}

.services__desc {
  text-align: center;
}

.services__list {
  margin-top: 50px;
  flex-wrap: nowrap;
}

.services__item {
  padding: 30px 50px;
  background: #fbfaff;
}

.services__thumb {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(8, 4, 21, 0.05);
}

.services__image {
  width: 100%;
  display: block;
  margin-top: 8px;
}

.services__title {
  color: var(--text-primary-color);

  margin-top: 30px;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -1.12px;
}

.services__text {
  color: var(--text-second-color);

  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.services__dots {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.services__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(8, 4, 21, 0.2);
  border: none;
  outline: none;
}

.services__dot--active {
  width: 20px;
  height: 20px;
  background-color: #5d3bee;
  border: 3px solid #fff;
  outline: 1px solid #5d3bee;
}

/* Our Works */
.our-works {
  background: #5d3bee;
}

.our-works__body {
  padding: 70px 0 60px;
}

.our-works__heading {
  width: 300px;
  color: #fff;
}

.our-works__desc {
  text-align: center;
  color: #fff;
  opacity: 0.6;
}

.our-works__list {
  margin-top: 60px;
  row-gap: 20px;
}

.our-works__item {
  position: relative;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fbfaff;
}

.our-works__decor {
  position: absolute;
  top: 0;
  right: 0;
}

.our-works__decor--desktop {
  display: none;
}

.our-works__info {
  flex-shrink: 0;
}

.our-works__title {
  color: var(--text-primary-color);

  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.41;
  letter-spacing: -0.96px;
}

.our-works__text {
  color: var(--text-second-color);
  margin-top: 4px;
  width: 176px;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43;
}

.our-works__link {
  color: var(--text-primary-color);

  display: inline-block;
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
}

.our-works__figure {
  position: relative;
  z-index: 1;
  width: 122px;
  height: 93px;
}

.our-works__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-works__all {
  color: var(--text-primary-color);

  margin: 50px auto 0;
  width: 154px;
  height: 56px;
  background: #fff;
}

/* Responsive */
/* Desktop */
@media (min-width: 768px) {
  /* Common */
  .section-desc {
    font-size: 1.8rem;
    line-height: 1.67;
  }

  .section-heading {
    margin-left: 0;
    margin-right: 0;
    font-size: 5.6rem;
    line-height: 1.18;
    letter-spacing: -2.24px;
    text-align: left;
  }

  /* Header */
  .header {
    padding-top: 58px;
  }

  .header__body {
    position: relative;
    width: min(100%, 1330px);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }

  .header__icon--mobile,
  .header__menu-toggle {
    display: none;
  }

  .header__email {
    margin-left: 0;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .header__email-img {
    width: 46px;
    height: 46px;
  }

  .header__email-icon {
    width: 24px;
  }

  .header__email-address {
    color: var(--text-primary-color);

    display: inline-block;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.36;
    text-decoration: underline;
  }

  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }

  .header__icon--desktop {
    display: block;
    width: 100%;
  }

  .navbar {
    display: block;
  }

  .navbar__list {
    flex-direction: row;
    margin-top: 0;
  }

  .navbar__link {
    padding: 8px 22px;
  }

  .navbar__link:hover {
    color: var(--text-primary-color);
    text-decoration: underline;
  }

  /* Hero */
  .hero {
    padding-top: 71px;
  }

  .hero__body {
    position: relative;
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .hero__img {
    width: 514px;
  }

  .hero__decor-mobile {
    display: none;
  }

  .hero__decor-desktop {
    display: block;
    position: absolute;
    bottom: 0;
    left: -226px;
    right: 0;
  }

  .hero__decor-right {
    display: inline-block;
    bottom: 0;
    right: -175px;
    left: auto;
  }

  .hero__content {
    padding-bottom: 38px;
  }

  .hero__title {
    width: 100%;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
  }

  .hero__desc {
    width: 370px;
  }

  .hero__cta {
    margin-top: 50px;
    column-gap: 30px;
  }

  .hero__book {
    width: 170px;
    height: 62px;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .hero__my-work {
    font-size: 1.8rem;
  }

  .hero__socials {
    margin-top: 104px;
  }

  .hero__socials-text {
    margin-right: 15px;
    font-size: 1.6rem;
    line-height: 1.875;
  }

  .hero__social {
    width: 40px;
    height: 40px;
  }

  .hero__social + .hero__social {
    margin-left: 20px;
  }

  /* Clients */
  .clients {
    margin-top: 98px;
  }

  .clients__body {
    display: flex;
    align-items: center;
    column-gap: 110px;
    padding-left: 102px;
  }

  .clients__heading {
    flex-shrink: 0;
    display: flex;
    padding-top: 0;
    width: 254px;
    font-size: 4.2rem;
    line-height: 1.2;
    letter-spacing: -1.68px;
  }

  .clients__heading::before {
    top: 22px;
    left: -110px;
    width: 86px;
    transform: translateX(0);
  }

  .clients__grid {
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 66px;
  }

  .clients__group:first-child {
    margin-top: 0;
  }

  /* Services */
  .services__heading {
    text-align: center;
  }

  .services__desc {
    width: 534px;
    margin-left: auto;
    margin-right: auto;
  }

  .services__list {
    margin-top: 60px;
    flex-wrap: wrap;
  }

  .services__dots {
    display: none;
  }

  .services__item {
    padding: 32px 40px;
  }

  .services__thumb {
    width: 74px;
    height: 74px;
  }

  .services__title {
    margin-top: 22px;
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1.28px;
  }

  .services__text {
    margin-top: 15px;
    font-size: 1.8rem;
    line-height: 1.67;
  }

  /* Our Works */
  .our-works__body {
    padding: 86px 0;
  }

  .our-works__header {
    display: flex;
    align-items: flex-end;
  }

  .our-works__heading {
    width: fit-content;
    flex-shrink: 0;
  }

  .our-works__desc {
    width: 370px;
    margin: 0 0 12px 160px;
    text-align: left;
  }

  .our-works__list {
    margin-top: 70px;
    row-gap: 30px;
  }

  .our-works__item {
    padding: 24px;
  }

  .our-works__decor--mobile {
    display: none;
  }

  .our-works__title {
    font-size: 3.2rem;
    line-height: 1.25;
    letter-spacing: -1.28px;
  }

  .our-works__text {
    margin-top: 10px;
    width: 220px;
    font-weight: 1.6rem;
    line-height: 1.44;
  }

  .our-works__link {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: none;
  }

  .our-works__link:hover {
    text-decoration-line: underline;
  }

  .our-works__figure {
    width: 246px;
    height: 187px;
  }

  .our-works__all {
    margin-top: 80px;
    width: 170px;
    height: 62px;
    font-size: 1.8rem;
  }
}
